<form>
    <!-- Main Wrapper -->
    <section id="content_wrapper" class="mainpos-section" style="margin-left: 0px">
             
        <div class="mainpos-common-details-title">
            <!-- initial title row -->
            <div class="row">

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  
                    
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                 
                    
                  </div>

                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                 
                  
                 </div>

            </div>
           <!-- initial title row -->
            </div>


           <div class="mainpos-common-details">

               <div class="row">

                   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">

                        <div class="mainpos-first-div">
                            <img src="assets/img/p-icon1.png" alt>
                        </div>
                        <div class="mainpos-sales-employee">
                        <p>Sales Employee</p>
                        </div>

                       <div class="mainpos-employee-content">
                               
                               <p><img src="assets/img/pemp-icon.png" alt="">Abdul Wahab</p>
                               <span>98989898989</span>
                               <div class="emp-border-one"></div>
                               <div class="emp-border-two"></div>

                               <div class="send-invoice mainpos-invoicebg">
                                   
                                        <div class="row">

                                            <div class="col-xl-6 col-lg-5 col-md-4 col-sm-3 col-5">
                                                <span class="send-invoice-text">Send Invoice By :</span>
                                            </div>
                                            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-9 col-7">
                                                <div class="button-group-pills share-invoice" data-toggle="buttons" >
                                                    
                                                    <label class="btn btn-default active">
                                                        <input type="radio" name="options" checked="">
                                                        <div><i class="fa fa-envelope"></i></div>
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="options">
                                                        <div><i class="fa fa-whatsapp"></i></div>
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="options">
                                                        <div><i class="fa fa-comment"></i></div>
                                                    </label>
                                                </div>
                                             </div>

                                        </div>

                               </div>
                        </div>

                   </div>


                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 first-section-top">

                        <div class="mainpos-second-div">
                            <img src="assets/img/p-icon2.png" alt>
                        </div>
                        <div class="mainpos-billing-details">
                        <p> Billing Details</p>
                        </div>

                       <div class="mainpos-billing-content">

                           <div classs="mainpos-billing-content-grid">
                               <p><span class="p-title">Date</span> <span class="p-detail">01/01/2021</span></p>
                               <p><span class="p-title">Invoice Number</span> <span class="p-detail">DEV00025</span></p>
                               <p><span class="p-title">Shop Name</span> <span class="p-detail">NU SHARQ</span></p>
                           </div>

                       </div>

                   </div>


                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 first-section-top">

                        <div class="mainpos-second-div">
                            <img src="assets/img/p-icon3.png" alt>
                        </div>
                        <div class="mainpos-customer-details">
                        <p> Customer Details</p>
                        </div>

                       <div class="mainpos-customer-content">

                           <div classs="mainpos-customer-content-grid">
                               <p><span class="p-title">Name</span> <span class="p-detail">Saravanan M</span></p>
                               <p><span class="p-title">Phone</span> <span class="p-detail">989898989</span></p>
                               <p><span class="p-title">Loyalty Point</span> <span class="p-detail">568</span></p>
                               <p><span class="p-title">Loyalty Plan</span><span class="p-detail">102</span></p>

                           </div>

                       </div>
                       
                   </div>


               </div>

           </div>


           <!-- grid and side menu -->

           <div class="pos-grid-sidemenu-section">

                <div class="row">

                    <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12 tab-first medium-first" id="first">

                        <!-- search form -->

                        <div class="allcp-form theme-info mainpos-search">
                            <div class="row">
                              
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-12">
                                    <label class="field">
                                    <input type="text" class="gui-input" placeholder="Search Customer / Item / Stock">
                                    </label>
                                 </div>
                                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                                    <button type="button" 
                                        class="btn btn-lg btn-primary btn-block pos-button">
                                            <i class="fa fa-plus-circle"></i>
                                            Customer
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                        <!-- search form -->

                        <!-- grid -->

                        <div  id="pms" class="table-responsive sales-second-section2 sales-second pos-grid-scroll">
                            <table class="table allcp-form theme-warning">
                                <thead >
                                    <tr  class="pos-main-tr">
                                        <th >#</th>
                                        <th >Name</th>
                                        <th >Qty</th>
                                        <th >Price</th>
                                        <th >Discount</th>
                                        <th >Line Total</th>
                                        <th ></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td>01</td>
                                        <td>sku5648488</td>
                                        <td>2</td>
                                        <td>KD 56210.25</td>
                                        <td>65.0</td>
                                        <td>KD 6521.01</td>
                                        <td><a href=""><i class="fa fa-close"></i></a></td>
                                    </tr>
                                    <tr >
                                        <td>01</td>
                                        <td>sku5648488</td>
                                        <td>2</td>
                                        <td>KD 56210.25</td>
                                        <td>65.0</td>
                                        <td>KD 6521.01</td>
                                        <td><a href=""><i class="fa fa-close"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div _ngcontent-lmm-c160="" style="clear: both;"></div>
                        <div _ngcontent-wsy-c160="" class="table-responsive pos-sales-total-section">
                        <table _ngcontent-lmm-c160="" class="table allcp-form theme-warning">
                                <thead _ngcontent-lmm-c160="">
                                    <tr _ngcontent-lmm-c160="">
                                        <td _ngcontent-lmm-c160="">Total Items :</td>
                                        <td _ngcontent-lmm-c160="">0</td>
                                        <td _ngcontent-lmm-c160="">Tax <span _ngcontent-lmm-c160="" class="pos-td">(0.00%) :</span></td>
                                        <td _ngcontent-lmm-c160="">0.000</td>
                                        <td _ngcontent-lmm-c160=""><a _ngcontent-lmm-c160="" href="javascript:void(0);" class="discount-link">Discount <span _ngcontent-lmm-c160="" class="pos-td"> :</span></a></td>
                                        <td _ngcontent-lmm-c160="">0.000</td>
                                    </tr>
                                    <tr _ngcontent-lmm-c160=""><td _ngcontent-lmm-c160="">Sub Total :</td>
                                        <td _ngcontent-lmm-c160="" class="pos-tamount">0.000</td>
                                        <td _ngcontent-lmm-c160="">Before Round Off :</td>
                                        <td _ngcontent-lmm-c160="" class="pos-tamount">0.000</td>
                                        <td _ngcontent-lmm-c160="">Round Off :</td>
                                        <td _ngcontent-lmm-c160="" class="pos-tamount">0.000</td>
                                    </tr>
                                    <tr _ngcontent-lmm-c160="">
                                        <td _ngcontent-lmm-c160="" colspan="3">Invoice Total :</td>
                                        <td _ngcontent-lmm-c160="" colspan="3" class="pos-tamount" style="text-align: right;">KWD 0.000</td>
                                    </tr>
                                </thead>
                        </table>
                       </div>

                    </div>


                    <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12 tab-second medium-second" id="second">

                          
                        <!-- pos menus -->

                        <div class="mainpos-menu-section">

                             <div class="row">

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                    <div class="mainpos-menu-layout">
                                    <span><i class="fa fa-edit"></i></span>
                                    <p>ORDER</p>
                                    </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-file"></i></span>
                                        <p>INVOICE</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-refresh"></i></span>
                                        <p>RETURN</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-exchange"></i></span>
                                        <p>EXCHANGE</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-pause"></i></span>
                                        <p>RECALL</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-gift"></i></span>
                                        <p>COUPON</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-circle"></i></span>
                                        <p>PRODUCT</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-money"></i></span>
                                        <p>CASH IN</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-money"></i></span>
                                        <p>CASH OUT</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-database"></i></span>
                                        <p>STOCK</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-edit"></i></span>
                                        <p>FIND STOCK</p>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-2 col-sm-3 col-4">

                                    <a href="">
                                        <div class="mainpos-menu-layout">
                                        <span><i class="fa fa-square"></i></span>
                                        <p>VOID SALE</p>
                                        </div>
                                    </a>

                                </div>

                             </div>

                        </div>
                         
                        <!-- pos menus -->
                        <!-- product image -->
                        <div class="mainpos-product-image">

                            <div class="mainpos-product-image-pic">
                                <img src="assets/img/ST5.jpg" alt="">
                            </div>
<!-- 
                            <div class="mainpos-product-image-pic-details">
                                
                                 <div class="color-swatch">
                                    
                                <p>COLOR</p>
                                <input type="radio" name="color" id="red" value="red" />
                                <label for="red"><span class="red" data-toggle="tooltip" data-placement="bottom" title="Red"></span></label>

                                <input type="radio" name="color" id="green" />
                                <label for="green"><span class="green" data-toggle="tooltip" data-placement="bottom" title="Green"></span></label>

                                <input type="radio" name="color" id="yellow" />
                                <label for="yellow"><span class="yellow" data-toggle="tooltip" data-placement="bottom" title="Yello"></span></label>

                                <input type="radio" name="color" id="olive" />
                                <label for="olive"><span class="olive" data-toggle="tooltip" data-placement="bottom" title="Olive"></span></label>
                                
                                </div> 
                                
                               
                                 <div class="size-choose">
                                    
        
                                           <p>SIZE</p>
                                           <input type="checkbox" name="color" id="small" value="small" />
                                            <label for="small"><span class="small">S</span></label>
                                           <input type="checkbox" name="color" id="medium" value="medium" />
                                            <label for="medium"><span class="medium">M</span></label>
                                            <input type="checkbox" name="color" id="large" value="large" />
                                            <label for="large"><span class="large">L</span></label>
                                            <input type="checkbox" name="color" id="xl" value="xl" />
                                            <label for="xl"><span class="xl">XL</span></label>
        
                                           
        
                                </div>

                                <div class="mainpos-product-description">
                                    <p>DESCRIPTION</p>
                                </div>
                                
                            </div> -->
                            
    
                        </div>
                         <!-- product image -->
                    </div>

                   


                   


                   

                </div>

           </div>


           <!-- mainpos-buttons section -->
           
           <div class="mainpos-button-section">

               <div class="row">

                    <div class="col">

                        <button class="submit" class="btn mainpos-quickpay"><i class="fa fa-check-circle"></i> QUICK PAY</button>
 
                    </div>

                    <div class="col">

                        <button class="submit" class="btn mainpos-payment"><i class="fa fa-money"></i> PAYMENT</button>

                    </div>

                    <div class="col">

                        <button class="submit" class="btn mainpos-hold"><i class="fa fa-pause"></i> HOLD</button>

                    </div>

                    <div class="col button-top">

                        <button class="submit" class="btn mainpos-cancel"><i class="fa fa-close"></i> CANCEL</button>

                    </div>

                    <div class="col button-top button-tops">

                        <button class="submit" class="btn mainpos-logoff"><i class="fa fa-sign-out"></i> LOG OFF</button>

                    </div>


               </div>



           </div>




           <!-- grid and side menu -->


     </section>   
    
    
</form>
