<form [formGroup]="myForm" novalidate>
    <!-- Main Wrapper -->
    <section id="content_wrapper" class="sales-content-wrapper" style="margin-left: 0px">
        <!-- Content -->
        <section class="animated fadeIn">
            <header id="topbar" class="ph10 second-top">
                <div class="topbar-left">
                    <ul class="nav nav-list nav-list-topbar pull-left">
                        <li>
                            <i class="fa fa-eraser"></i> Product Search
                        </li>
                    </ul>
                </div>
                <div class="topbar-right mt5">
                    <a (click)="btn_back_click()" href="javascript:void(0);" class="btn btn-back btn-sm ml10"
                        title="New">
                        <span class="fa fa-arrow-left pr5"></span>Back
                    </a>
                </div>
            </header>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 mt5">
                    <div class="return-filter allcp-form theme-info">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 col-xl-8">
                                <label class="field">
                                    <input (keyup.enter)="getProductDetail()" matInput type="text" name="sku_code"
                                        id="sku_code" [matAutocomplete]="auto" [formControl]="searchProductCtrl"
                                        formControlName="sku_code" #sku_code class="gui-input"
                                        placeholder="SKU/Barcode">
                                    <mat-autocomplete id="pms" #auto="matAutocomplete"
                                        class="pos filtered-search pos-full-search">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">

                                            <mat-option *ngFor="let product of filteredProduct" [value]="product.code">

                                                <div class="col-md-3 pos-search-div"><b><i class="fa fa-list"></i>
                                                        {{product.code}}</b></div>
                                                <div class="col-md-3 pos-search-div"><b><i
                                                            class="fa fa-check-circle"></i> {{product.number}}</b></div>
                                                <div class="col-md-6 pos-search-div"><b><i class="fa fa-square"></i>
                                                        {{product.name}}</b></div>

                                            </mat-option>

                                        </ng-container>
                                    </mat-autocomplete>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 col-xl-2">
                                <button (click)="getProductDetail()" type="button" class="btn btn-primary"
                                    style="width: 100%"><i class="fa fa-search"></i> Search Product</button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 col-xl-2">
                                <button (click)="refresh()" type="button" class="btn btn-primary" style="width: 100%"><i
                                        class="fa fa-refresh"></i>Clear</button>
                            </div>
                        </div>
                    </div>
                    <!-- table -->
                    <hr>

                    <div class="table-responsive sales-second-section2 return-table" id="res">
                        <table class="table allcp-form theme-warning">
                            <thead>
                                <tr class="main-tr">
                                    <th>SKU Code</th>
                                    <th>Style Code</th>
                                    <th>Barcode</th>
                                    <th>Supplier Barcode</th>
                                    <th>Brand Name</th>
                                    <th>Subbrand Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of json;">
                                    <td>{{item.skuCode}}</td>
                                    <td>{{item.styleCode}}</td>
                                    <td>{{item.barCode}}</td>
                                    <td>{{item.supplierBarCode}}</td>
                                    <td>{{item.brandName}}</td>
                                    <td>{{item.subBrandName}}</td>
                                    <td>{{item.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </section>
</form>