<section id="content_wrapper">
    <!-- Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-icon">
                    <a href="#!home">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-link">
                    <a href="#!home">Home</a>
                </li>
                <li class="breadcrumb-current-item">Menu Title</li>
            </ol>
        </div>
    </header>

    <header id="topbar" class="ph10">
        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
                <li>Title Here
                </li>
            </ul>
        </div>
        <!--<div class="topbar-right hidden-xs hidden-sm mt5 mr35">
                
            <a href="CountryAdd" class="btn btn-primary add-c btn-sm ml10" title="New Country">
                <span class="fa fa-plus pr5"></span> Create New</a>
        </div>-->
    </header>
    <!-- /Topbar -->


    <form [formGroup]="myForm" novalidate>
        <!-- Content -->
        <section id="content" class="animated fadeIn">
            <div>


                <!-- choose grid -->


                <div class="allcp-form theme-info">
                    <div class="panel">
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-offset-3 col-md-2 mt10">
                                    <label>Select Here</label>
                                </div>

                                <div class="col-md-3">

                                    <label class="field select">
                                        <select class="gui-input">
                                            <option>Select Store
                                            </option>
                                        </select>
                                        <i class="arrow"></i>
                                    </label>

                                </div>

                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-lg btn-success btn-block common-button"
                                        title="Add"><i class="fa fa-plus"></i> </button>
                                </div>

                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-lg btn-cancel btn-block common-button"
                                        title="Clear"><i class="fa fa-refresh"></i> </button>
                                </div>



                            </div>



                        </div>
                    </div>
                </div>



                <!-- choose grid -->



                <!-- listing table -->
                <div class="allcp-form theme-info">
                    <div class="panel">
                        <div class="panel-body country-table">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th class="">#</th>
                                            <th class="">Brand Code</th>
                                            <th class="">Brand Name</th>
                                            <th class="">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor = "let item of json; let i = index"> -->
                                        <tr>
                                            <td>01</td>
                                            <td>BC0122</td>
                                            <td>Brand Name</td>
                                            <td><a class="btn btn-dels btn-sm " href="/CountryEdit/1"><span
                                                        class="fa fa-trash"></span></a></td>
                                        </tr>
                                        <tr>
                                            <td>01</td>
                                            <td>BC0122</td>
                                            <td>Brand Name</td>
                                            <td><a class="btn btn-dels btn-sm " href="/CountryEdit/1"><span
                                                        class="fa fa-trash"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </form>
</section>