<form [formGroup]="myForm"novalidate>
    <section id="content_wrapper">
        <!-- Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-icon">
                        <a routerLink="../../home">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-link">
                        <a routerLink="../../home">{{ 'COMMON.HOME' | translate }}</a>
                    </li>
                    <li class="">
                        <a routerLink="../../designation">{{ 'DESIGNATION.DESIGNATION_MASTER' | translate }}</a>
                    </li>
                    <li class="breadcrumb-current-item">{{ 'COMMON.EDIT' | translate }}</li>

                </ol>
            </div>
        </header>

     

        <section class="grids-search grid-search-row allcp-form">


            <div class="row title-section-row">
                <h4>{{ 'DESIGNATION.EDIT_DESIGNATION' | translate }}</h4>             
            </div>
    
    
       </section>
        <!-- /Topbar -->


        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div>
                <div class="center-block">
                    <div class="allcp-form theme-info">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                               
                                            <input type="text" name="designationCode" autocomplete="off" readonly
                                                formControlName="designationCode" #designationCode
                                                [ngClass]="{'red-border': myForm.controls['designationCode'].invalid}"
                                                class="gui-input floating-input" placeholder="Designation Code"
                                                (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'DESIGNATION.DESIGNATION_CODE' | translate }}</label>
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                               
                                            <input type="text" name="designationName" autocomplete="off"
                                                formControlName="designationName" #designationName
                                                [ngClass]="{'red-border': myForm.controls['designationName'].invalid}"
                                                class="gui-input floating-input" placeholder="Designation Name"
                                                (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'DESIGNATION.DESIGNATION_NAME' | translate }}</label>
                                    </div>
                                    <div class="col-md-6 mb20 select-forms">
                                        <label>{{ 'DESIGNATION.ROLE_NAME' | translate }}</label>
                                       
                                            <select name="RoleID" formControlName="RoleID" #RoleID (change)="rolecode()"
                                                class="gui-input"  [ngClass]="{'red-border': myForm.controls['RoleID'].invalid}">
                                                <option value="">Select Role</option>
                                                <option *ngFor="let item of RoleList" value="{{item.id}}">{{item.roleCode}}</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                               
                                            <input type="text" name="description" autocomplete="off"
                                                formControlName="description" #description
                                                [ngClass]="{'red-border': myForm.controls['description'].invalid}"
                                                class="gui-input floating-input" placeholder="Description" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'DESIGNATION.DESCRIPTION' | translate }}</label>
                                    </div>                                    
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                              
                                            <input type="text" name="remarks" autocomplete="off"
                                                formControlName="remarks" #remarks
                                                [ngClass]="{'red-border': myForm.controls['remarks'].invalid}"
                                                class="gui-input floating-input" placeholder="Remarks" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'COMMON.REMARKS' | translate }}</label>
                                    </div>
                                    <div class="col-md-6">
                                      
                                            <div class="section">
                                                <div class="bs-component mt10">

                                                    <div class="round fill mb10">
                                                        <input type="checkbox" checked="" id="active" name="active" #active formControlName="active">
                                                        <label for="active"></label>
                                                        <p class="label-text">{{ 'COMMON.ACTIVE' | translate }}</p>
                                                    </div>
                                                    <div id="source-button" class="btn btn-system btn-xs"
                                                        style="display: none;">&lt; &gt;</div>

                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>
                                <div class="row default-forms">
                                   
                                  
                                    <!--<div class="col-md-2 mt10">
                                        <button type="clear" class="btn btn-lg btn-primary btn-block common-button"><i
                                                class="fa fa-refresh"></i> Clear</button>

                                    </div>-->
                                    <div class="offset-md-4 col-md-2 mt10">
                                        <button type="submit" class="btn btn-lg btn-success btn-block common-button" 
                                        [disabled]="myForm.invalid" (click) = "updateDesignation()"><i
                                             class="fa fa-refresh"></i> Update
                                        </button> 
                                    </div>

                                    <div class="col-md-2 mt10">
                                        <button type="submit" class="btn btn-lg btn-cancel btn-block common-button" (click) = "close()"><i
                                            class="fa fa-remove"></i> Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->

    </section>
</form>