
<div class='row'>
    <div class="col-md-3">
        <button type="button" (click)="onPrintHTML()">
            Print HTML
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" (click)="onPrint()">
            Print 
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" (click)="getPrinter()">
            Get Printer
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" (click)="getPrinters()">
            Get All Printers
        </button>
    </div>
</div>
