<section id="content_wrapper">
    <!-- Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-icon">
                    <a routerLink="../home">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-link">
                    <a routerLink="../../home">{{ 'COMMON.HOME' | translate }}</a>
                </li>
                <li class="">
                    <a routerLink="../../stockadjustment">{{ 'STOCK_ADJUSTMENT.STOCK_ADJUSTMENT_MASTER' | translate }}</a>
                </li>
                <li class="breadcrumb-current-item">{{ 'COMMON.VIEW' | translate }}</li>
            </ol>
        </div>
    </header>

    <section class="grids-search grid-search-row allcp-form">

        <div class="row title-section-row">
            <h4>{{ 'STOCK_ADJUSTMENT.VIEW_STOCK_ADJUSTMENT' | translate }}</h4>             
        </div>

   </section>

    <!-- /Topbar -->
    <form [formGroup]="myForm" novalidate>
        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div>
                <!-- listing table -->
                <div class="allcp-form theme-info">
                    <div class="panel">
                        <div class="panel-body country-table">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th class="">#</th>
                                            <th class="">{{ 'STOCK_ADJUSTMENT.SKU_CODE' | translate }}</th>
                                            <th class="">{{ 'STOCK_ADJUSTMENT.SYSTEM_QUANTITY' | translate }}</th>
                                            <th class="">{{ 'STOCK_ADJUSTMENT.PHYSICAL_QUANTITY' | translate }}</th>
                                            <th class="">{{ 'STOCK_ADJUSTMENT.ADJUSTABLE_QUANTITY' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor = "let item of json; let i = index"> -->
                                        <tr *ngFor="let item of stockadjustmentlist; let i = index">

                                            <td>{{i + 1}}</td>
                                            <td>{{item.skuCode}}</td>
                                            <td>{{item.physicalQuantity}}</td>
                                            <td>{{item.systemQuantity}}</td>
                                            <td>{{item.adjustableQuantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row default-forms">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-2 mt10">
                    </div>
                    <div class="col-md-2 mt10">
                        <button type="button" class="btn btn-lg btn-cancel btn-block common-button" (click)="close()"><i
                                class="fa fa-remove"></i> Close</button>
                    </div>
                    <div class="col-md-2 mt10">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </form>
</section>