<form [formGroup]="myForm" validate>
    <section id="content_wrapper">
        <!-- Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-icon">
                        <!-- <a routerLink="../home"> -->
                        <a href="#">
                            <span class="fa fa-home"></span>
                        </a> 
                    </li>
                    <li class="breadcrumb-link">
                        <!-- <a routerLink="../home">Home</a> -->
                        <a href="#"> 
                            {{ 'COMMON.HOME' | translate }}                           
                        </a>
                    </li>
                    <li class="">
                        <!-- <a routerLink="../barcode">Barcode Master</a> -->
                        <a href="barcode">{{ 'BARCODE.BARCODE_MASTER' | translate }}</a>
                    </li>
                    <li class="breadcrumb-current-item">{{ 'BARCODE.CONFIGURE' | translate }}</li>

                </ol>
            </div>
        </header>

        <section class="grids-search grid-search-row allcp-form">


            <div class="row title-section-row">
                <h4>{{ 'BARCODE.CREATE_BARCODE_CONFIGURATION' | translate }}</h4>             
            </div>
    
    
       </section>

        <!-- /Topbar -->


        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div>
                <div class="center-block">
                    <div class="allcp-form theme-info">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                                
                                            <input type="text" name="startNumber" autocomplete="off" (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur"
                                                formControlName="startNumber" #endNumber minlength="1" maxlength="13"
                                                [ngClass]="{'red-border': myForm.controls['startNumber'].invalid}"
                                                class="gui-input floating-input" placeholder="Start Number">
                                                <span class="highlight"></span>
                                                <label>{{ 'BARCODE.START_NUMBER' | translate }}</label>
                                       
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                                
                                            <input type="text" name="endNumber" autocomplete="off" (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur"
                                                formControlName="endNumber" #endNumber minlength="1" maxlength="13"
                                                [ngClass]="{'red-border': myForm.controls['endNumber'].invalid}"
                                                class="gui-input floating-input" placeholder="End Number">
                                                <span class="highlight"></span>
                                                <label>{{ 'BARCODE.END_NUMBER' | translate }}</label>
                                        
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                                
                                            <input type="text" name="numberOfDigit" autocomplete="off" value="13"
                                                formControlName="numberOfDigit" #numberOfDigit readonly                                                [ngClass]="{'red-border': myForm.controls['numberOfDigit'].invalid}"
                                                class="gui-input floating-input" placeholder="Number of Digit">
                                                <span class="highlight"></span>
                                                <label>{{ 'BARCODE.NUMBER_OF_DIGIT' | translate }}</label>
                                       
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                               
                                            <input type="text" name="runningNo" autocomplete="off" (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur"
                                                formControlName="runningNo" #runningNo
                                                [ngClass]="{'red-border': myForm.controls['runningNo'].invalid}"
                                                class="gui-input floating-input" placeholder="Running No">
                                                <span class="highlight"></span>
                                                <label>{{ 'BARCODE.RUNNING_NO' | translate }}</label>
                                       
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                        <div class="section">
                                                                                       
                                                <input type="date"name="startDate" formControlName="startDate" #startDate class="gui-input floating-input"
                                                [ngClass]="{'red-border': myForm.controls['startDate'].invalid}"
                                                placeholder="Start Date" autocomplete="off">
                                                <span class="highlight"></span>
                                                <label>{{ 'BARCODE.START_DATE' | translate }}</label>
                                            
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb20 floating-form floating-label">
                                        <div class="section">
                                                                                       
                                                <input type="date"name="endDate" formControlName="endDate" #endDate class="gui-input floating-input"
                                                [ngClass]="{'red-border': myForm.controls['endDate'].invalid}"
                                                placeholder="End Date" autocomplete="off">
                                                <span class="highlight"></span>
                                                <label>{{ 'BARCODE.END_DATE' | translate }}</label>
                                           
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        
                                            <div class="section">
                                                <div class="bs-component mt10">

                                                    <div class="round fill mb10">
                                                        <input type="checkbox" checked="" id="active" name="active" #active formControlName="active">
                                                        <label for="active"></label>
                                                        <p class="label-text">{{ 'COMMON.ACTIVE' | translate }}</p>
                                                    </div>
                                                    <div id="source-button" class="btn btn-system btn-xs"
                                                        style="display: none;">&lt; &gt;</div>

                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="row default-forms">
                                    
                                    <div class="offset-md-3 col-md-2 mt10">
                                        <button type="submit" class="btn btn-lg btn-success btn-block common-button"
                                        (click)="addBarcode()" [disabled]="myForm.pristine || myForm.invalid"><i class="fa fa-check-circle-o"></i> Save                                                
                                        </button>
                                    </div>
                                    
                                    <div class=" col-md-2 mt10">
                                        <button type="clear" class="btn btn-lg btn-primary btn-block common-button"
                                        (click)="clear_controls()"><i class="fa fa-refresh"></i> Clear</button>

                                    </div>
                                    <div class="col-md-2 mt10">
                                        <button type="submit" class="btn btn-lg btn-cancel btn-block common-button"
                                        (click)="close()"><i class="fa fa-remove"></i> Close</button>

                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->

    </section>
</form>