<section id="content_wrapper">
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-icon">
                    <a routerLink="../home">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-link">
                    <a routerLink="../home">Home</a>
                </li>
                <li class="breadcrumb-current-item">On Account Payment</li>
            </ol>
        </div>        
    </header>
    <section class="grids-search grid-search-row allcp-form">


        <div class="row title-section-row">
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-8 col-8" style="padding-right: 0px; position: relative;
            left: 10px; margin-top: 6px;">
            <mat-form-field  appearance="outline">
                <input [(ngModel)]="searchString" matInput   id="globalSearch" (keyup.enter)="search_click()"
                autocomplete="off">
               <button mat-button mat-icon-button matSuffix (click)="clear_search()" *ngIf="searchString">
               <mat-icon>close</mat-icon>
           </button>
            </mat-form-field>

        </div>  
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 mt10" style="padding-left: 14px;
        padding-right: 0px;">
            <!-- <a  class="btn btn-primary  add-search btn-sm ml10" title="Search">
                  Search</a> -->
            <button type="button" (click) = "search_click()" class="btn btn-primary add-search btn-sm ml10" >
                    Search</button>
        </div>
    
  
            
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6  m-action mt10">
            
                <a routerLink="../onaccount-payment-add" class="btn btn-primary add-c btn-sm ml10" style="width: 100%;" title="New Price Point">
                    <span class="fa fa-plus pr5"></span>  Create New</a>
    
            </div>      
        </div>
    
    
    </section>
  

    <section id="content" class="animated fadeIn">
            <div class="center-block">
                <div class="allcp-form theme-info">
                    <div class="panel">
                        <div class="panel-body"> 
                            <div class="row">
                                <ngx-table [configuration]="configuration" [data]="tblData" [columns]="columns"
                                    #dataTable [noResultsTemplate]="noResultsTemplate" [pagination]="pagination"
                                    (event)="eventEmitted($event)">
                                    <ng-template let-item>
                                        <td>
                                            <div class="font-small">{{item.customerCode}}</div>
                                        </td>
                                        <td>
                                            <span class="font-small">{{item.paymentDate | date: 'dd-MMM-yy'}}</span>
                                        </td>
                                        <td>
                                            <span class="font-small">{{item.billingAmount}}</span>
                                        </td>
                                        <td>
                                            <span class="font-small">{{item.receivedAmount}}</span>
                                        </td>
                                        <td>
                                            <span class="font-small">{{item.returnAmount}}</span>
                                        </td>
                                        <td>
                                            <a routerLink="{{'/onaccount-payment-view/'+ item.id.toString() }}"
                                                class="btn btn-edits  btn-sm ml10">
                                               View
                                            </a>
                                        </td>
                                    </ng-template>
                                </ngx-table>
                                <ng-template #noResultsTemplate>
                                    <td [attr.colspan]="5" class="no-results">
                                        No data found :(
                                    </td>
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>
