<section id="content_wrapper">
    <!-- Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-icon">
                    <a routerLink="../../home">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-link">
                    <a routerLink="../../home">{{ 'COMMON.HOME' | translate }}</a>
                </li>
                <li class="">
                    <a routerLink="../../stockreturn">{{ 'STOCK_RETURN.STOCK_RETURN_MASTER' | translate }}</a>
                </li>
                <li class="breadcrumb-current-item">{{ 'COMMON.VIEW' | translate }}</li>
            </ol>
        </div>
    </header>

  

    <section class="grids-search grid-search-row allcp-form">


        <div class="row title-section-row">
            <h4>{{ 'STOCK_RETURN.VIEW_STOCK_RETURN' | translate }}</h4>             
        </div>


   </section>
    <!-- /Topbar -->
    <form [formGroup]="myForm" novalidate>
        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div>
                <!-- choose grid -->
                <div class="allcp-form theme-info">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 mb20 floating-form floating-label">
                                                                        
                                        <input type="text" name="documentNo" autocomplete="off" readonly
                                            formControlName="documentNo" #documentNo
                                            class="gui-input floating-input" placeholder="Document Number" >
                                            <span class="highlight"></span>
                                            <label>{{ 'STOCK_RETURN.DOCUMENT_NUMBER' | translate }}</label>
                                </div>
                                <div class="col-md-4 mb20 floating-form floating-label">
                                                                        
                                        <input type="text" name="documentDate" autocomplete="off" readonly
                                            formControlName="documentDate" #documentDate
                                            class="gui-input floating-input" placeholder="Document Date">
                                            <span class="highlight"></span>
                                            <label>{{ 'STOCK_RETURN.DOCUMENT_DATE' | translate }}</label>
                                </div>
                                <div class="col-md-4 mb20 select-forms">
                                    <label>{{ 'STOCK_RETURN.TOWAREHOUSE' | translate }}</label>
                                    
                                        <select name="toWareHouse" formControlName="toWareHouse" #toWareHouse
                                            class="gui-input" readonly
                                            [ngClass]="{'red-border': myForm.controls['toWareHouse'].invalid}">
                                            <option value="0">Select ToWareHouse</option>
                                            <option *ngFor="let item of wareHouseList" value="{{item.id}}">{{item.warehouseName}}
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                    
                                </div>
                                <div class="col-md-4 mb20 select-forms">
                                    <label>{{ 'STOCK_RETURN.STATUS' | translate }}</label>
                                   
                                        <select name="status" formControlName="status" #status disabled
                                            class="gui-input" readonly
                                            [ngClass]="{'red-border': myForm.controls['status'].invalid}">
                                            <option value="0">Select Status</option>
                                            <option value="Open">Open</option>    
                                            <option value="Closed">Closed</option>                                           
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                    
                                </div>       
                                <div class="col-md-4 mb20">
                                    <label>{{ 'STOCK_RETURN.RETURN_TYPE' | translate }}  </label>
                                    <label class="field">
                                        <!--<input type="text" name="fromstore" autocomplete="off" readonly
                                            formControlName="fromstore" #fromstore
                                               class="gui-input" placeholder="Return Type">-->
                                               <input type="radio" id="BarCode" value="Barcode" name="group" formControlName="group" disabled> {{ 'STOCK_RETURN.BARCODE' | translate }}
                                               <input type="radio" id="RFID" value="RFID" name="group" formControlName="group" disabled> {{ 'STOCK_RETURN.RFID' | translate }}
                                    
                                            </label>
                                </div>    
                                <div class="col-md-4 mb20 floating-form floating-label">
                                                                        
                                        <input type="text" name="barCode" autocomplete="off" readonly
                                            formControlName="barCode" #barCode  [ngClass]="{'red-border': myForm.controls['barCode'].invalid}"
                                            class="gui-input floating-input" placeholder="SKU/BarCode">
                                            <span class="highlight"></span>
                                            <label>{{ 'STOCK_RETURN.SKU_BARCODE' | translate }}</label>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
                <!-- choose grid -->
                <!-- listing table -->
                <div class="allcp-form theme-info">
                    <div class="panel">
                        <div class="panel-body country-table">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th class="">#</th>
                                            <th class="">{{ 'STOCK_RETURN.BARCODE' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.RFID' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.SKU_NAME' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.SKU_CODE' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.STYLE_CODE' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.BRAND' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.COLOR' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.SIZE' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.RETURN_QUANTITY' | translate }}</th>
                                            <th class="">{{ 'STOCK_RETURN.STOCK_QUANTITY' | translate }}</th>
                                            <th class="">{{ 'COMMON.REMARKS' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of stockreturnlist; let i = index;">
                                            <td>{{i+1}}</td>
                                            <td>{{item.barCode}}</td>
                                            <td>{{item.rfid}}</td>
                                            <td>{{item.skuName}}</td>
                                            <td>{{item.skuCode}}</td>
                                            <td>{{item.styleCode}}</td>
                                            <td>{{item.brand}}</td>
                                            <td>{{item.color}}</td>
                                            <td>{{item.size}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.stockQty}}</td>
                                            <td>{{item.remarks}}</td>                                            
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb20 floating-form floating-label">
                        
                            <input type="text" name="rem" autocomplete="off"  spellcheck="false" trim="blur"
                                formControlName="rem" #rem 
                                   class="gui-input floating-input" placeholder="Remarks" readonly>
                                   <span class="highlight"></span>
                                   <label>{{ 'COMMON.REMARKS' | translate }} </label>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <label></label>
                                    <label class="field">
                                        <input type="text" name="totalqty" autocomplete="off" readonly
                                        formControlName="totalqty" #totalqty style="text-align:right;"
                                        class="gui-input" placeholder="">
                                    </label>
                    </div>
                    <div class="col-sm-2">
                        <label></label>
                                    <label class="field">
                                    <input type="text" name="stockqty" autocomplete="off" readonly
                                        formControlName="stockqty" #stockqty style="text-align:right;"
                                        class="gui-input" placeholder="">
                                    </label>
                    </div>
                </div>
                <div class="row default-forms">
                 
                    <div class="offset-md-5 col-md-2 mt10">
                        <button type="submit" class="btn btn-lg btn-success btn-block common-button" (click)="onPrint($event)"><i
                            class="fa fa-remove"></i>Print</button>
                    </div>
                    <div class="col-md-2 mt10">
                        <button type="submit" class="btn btn-lg btn-cancel btn-block common-button" (click)="close()"><i
                            class="fa fa-remove"></i> Close</button>
                    </div>
                   
                </div>

                <!-- pdf-viewer section -->
  <!-- <div class="output-pdf-viewer">
    <pdf-viewer
    [src]="pdfSrc"
    [(page)]="pageVariable"
    [show-all]="true"
    [stick-to-page]="true"
    [render-text]="true"
    [original-size]="false"
    [fit-to-page]="true"
    [autoresize]="true"
    [show-borders]="true"
    (after-load-complete)="afterLoadComplete($event)"
    #pdfViewer
    ></pdf-viewer>
  </div> -->

            </div>
        </section>
        <!-- /Content -->
    </form>
</section>

 
  
  