<form [formGroup]="myForm"novalidate>
    <!-- Main Wrapper -->
    <section id="content_wrapper">
        <!-- Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-icon">
                        <a routerLink="../home">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-link">
                        <a routerLink="../home">{{ 'COMMON.HOME' | translate }}</a>
                    </li>
                    <li class="">
                        <a routerLink="../Employee">{{ 'EMPLOYEE.EMPLOYEE_MASTER' | translate }}</a>
                    </li>
                    <li class="breadcrumb-current-item">{{ 'COMMON.CREATE' | translate }}</li>
                </ol>
            </div>
        </header>
        <section class="grids-search grid-search-row allcp-form">


            <div class="row title-section-row">
                <h4>{{ 'EMPLOYEE.CREATE_EMPLOYEE' | translate }}</h4>             
            </div>
    
    
       </section>
        <!-- /Topbar -->
        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div class="chute chute-center">
                <div class="center-block">
                    <!-- Spec Form -->
                    <div class="allcp-form theme-info">
                        <div class="panel">
                            <div class="panel-body">
                                <!-- Basic -->
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4">
                                        <!-- <h6 class="mb20"><i class="fa fa-user"></i> Employee Overview</h6> -->

                                        <div class="style-picture">
                                            <div class="avatar-upload">
                                                <!-- <div class="avatar-preview">
                                                    <div id="imagePreview"
                                                        style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                                    </div>
                                                </div> -->
                                                <div class="avatar-preview">
                                                    <div id="imagePreview">
                                                        <img src="{{ employee_image}}">
                                                    </div>
                                                </div>
                                                <div class="avatar-edit upload-btn-wrapper-cust">
                                                  <!--  <input type='file' id="imageUpload" (change)="picked($event)"-->
                                                  <label for="imageUpload" class="input-file">UPLOAD 
                                                  <input type='file' #fileInput1 formControlName="fileInput1" id="imageUpload" name="imageUpload"
                                                    (change)="picked1($event, null)" accept=".png, .jpg, .jpeg" />
                                                    </label>
                                                </div>
                                               
                                                <div class="image-clear" (click)= "delEmployeeImage()"><button class="btn btn danger">CLEAR</button></div>

                                            </div>
                                        </div>                                    
                                    </div>
                                    <div class="col-xl-9 col-lg-8">
                                        <div class="row">
                                        <div class="col-xl-4 col-lg-6 floating-form floating-label">
                                            <div class="section">
                                                                                               
                                                    <input type="text" name="employeeCode"
                                                        formControlName="employeeCode" #employeeCode class="gui-input floating-input"
                                                        placeholder="Employee Code" maxlength="8"
                                                        [ngClass]="{'red-border': myForm.controls['employeeCode'].invalid}"
                                                        autocomplete="off"
                                                        (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur">
                                                        <span class="highlight"></span>
                                                        <label>{{ 'EMPLOYEE.EMPLOYEE_CODE' | translate }}</label>

                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6  floating-form floating-label">
                                            <div class="section">
                                                                                               
                                                    <input type="text" name="employeeName"
                                                        formControlName="employeeName" #employeeName class="gui-input floating-input"
                                                        placeholder="Employee Name"
                                                        [ngClass]="{'red-border': myForm.controls['employeeName'].invalid}"
                                                        autocomplete="off"
                                                        (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur">
                                                        <span class="highlight"></span>
                                                        <label>{{ 'EMPLOYEE.EMPLOYEE_NAME' | translate }}</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6  select-forms">
                                            <div class="section">
                                                <label>{{ 'EMPLOYEE.ROLE' | translate }}</label>
                                                
                                                    <select name="roleName" formControlName="roleName" #roleName
                                                        (change)="role()" class="gui-input"
                                                        [ngClass]="{'red-border': myForm.controls['roleName'].invalid}">
                                                        <option value="">Select Role</option>
                                                        <option *ngFor="let item of role_List" value="{{item.id}}">
                                                            {{item.roleName}}</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                               
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6  select-forms">
                                            <div class="section">
                                                <label>{{ 'EMPLOYEE.DESIGNATION' | translate }}</label>
                                                
                                                    <select name="designationID" formControlName="designationID" #designationID
                                                        (change)="designation()" class="gui-input"
                                                        [ngClass]="{'red-border': myForm.controls['designationID'].invalid}">
                                                        <option value="">Select Designation</option>
                                                        <option *ngFor="let item of designation_List" value="{{item.id}}">
                                                            {{item.designationName}}</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6  select-forms">
                                            <div class="section">
                                                <label>{{ 'EMPLOYEE.COUNTRY' | translate }}</label>
                                                
                                                    <select name="countryID" formControlName="countryID" #countryID
                                                        (change)="getStoreList()" class="gui-input"
                                                        [ngClass]="{'red-border': myForm.controls['countryID'].invalid}">
                                                        <option value="">Select Country</option>
                                                        <option *ngFor="let item of country_list" value="{{item.id}}">
                                                            {{item.countryName}}</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6  select-forms">
                                            <div class="section">
                                                <label>{{ 'EMPLOYEE.STORE' | translate }}</label>
                                               
                                                    <select name="storeID" formControlName="storeID" #storeID
                                                        (change)="store()" class="gui-input"
                                                        [ngClass]="{'red-border': myForm.controls['storeID'].invalid}">
                                                        <option value="">Select Store</option>
                                                        <option *ngFor="let item of store_List" value="{{item.id}}">
                                                            {{item.storeName}}</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6 floating-form floating-label">
                                            <div class="section">
                                                                                               
                                                    <input type="date" name="doj" formControlName="doj" #doj
                                                        class="gui-input floating-input" placeholder="Date Of Joining"
                                                        autocomplete="off">
                                                        <span class="highlight"></span>
                                                        <label>{{ 'EMPLOYEE.DATE_OF_JOINING' | translate }}</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6  floating-form floating-label">
                                            <div class="section">
                                                    
                                                    <input type="text" name="salary" formControlName="salary" #salary
                                                        class="gui-input floating-input" placeholder="Salary" autocomplete="off" (keypress)="keyPress1($event)"
                                                         spellcheck="false" trim="blur">
                                                         <span class="highlight"></span>
                                                         <label>{{ 'EMPLOYEE.SALARY' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6  floating-form floating-label">
                                            <div class="section">
                                                                                               
                                                    <input type="text"  formControlName="address" name="address" id="address" #address
                                                        class="gui-input floating-input" placeholder="Address"
                                                        spellcheck="false" trim="blur">
                                                        <span class="highlight"></span>
                                                        <label>{{ 'EMPLOYEE.ADDRESS' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6  floating-form floating-label">
                                            <div class="section">
                                                                                               
                                                    <input type="text" formControlName="phoneno"  name="phoneno" id="phoneno" #phoneno
                                                        class="gui-input floating-input" placeholder="Phone No" (keypress)="keyPress($event)"
                                                        spellcheck="false" trim="blur" minlength=0 maxlength=15>
                                                        <span class="highlight"></span>
                                                        <label>{{ 'EMPLOYEE.PHONE_NUMBER' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6  floating-form floating-label">
                                            <div class="section">
                                                                                              
                                                    <input type="text" formControlName="remarks" name="remarks" id="remarks" #remarks
                                                        class="gui-input floating-input" placeholder="Remarks"
                                                        spellcheck="false" trim="blur">
                                                        <span class="highlight"></span>
                                                        <label>{{ 'COMMON.REMARKS' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 ">
                                            <label></label>
                                            <div class="section">
                                                
                                                <div class="bs-component">
                                                    <div class="round fill mb10 mt10">
                                                        <input type="checkbox" checked="" id="active" name="active"
                                                            #active formControlName="active">
                                                        <label for="active"> </label>
                                                        <p class="label-textc">{{ 'COMMON.ACTIVE' | translate }}</p>
                                                    </div>
                                                    <div id="source-button" class="btn btn-system btn-xs"
                                                        style="display: none;">&lt; &gt;</div>
                                                </div>
                                            </div>
                                        </div>




                                        <hr>
                                    </div>
                                    </div>
                                </div>
                                <!-- customer address -->
                                <div class="mt30">
                                    <div class="row default-forms">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2">
                                            <button type="submit" (click) = "add_employee()"
                                                [disabled]="myForm.pristine || myForm.invalid"
                                                class="btn btn-lg btn-success btn-block common-button"><i
                                                class="fa fa-check-circle-o"></i> Save</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-lg btn-primary btn-block common-button" (click)="clear_controls()"><i
                                                    class="fa fa-refresh"></i> Clear</button>
    
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button"   class="btn btn-lg btn-cancel btn-block common-button" (click) = "close()">
                                                <i
                                            class="fa fa-remove" ></i> Close</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </section>
</form>