<form [formGroup]="myForm"novalidate>
    <section id="content_wrapper">
        <!-- Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-icon">
                        <a routerLink="../../home">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-link">
                        <a routerLink="../../home">{{ 'COMMON.HOME' | translate }}</a>
                    </li>
                    <li class="">
                        <a routerLink="../../warehouse">{{ 'WAREHOUSE.WAREHOUSE_MASTER' | translate }}</a>
                    </li>
                    <li class="breadcrumb-current-item">{{ 'COMMON.EDIT' | translate }}</li>

                </ol>
            </div>
        </header>

       
        <section class="grids-search grid-search-row allcp-form">


            <div class="row title-section-row">
                <h4>{{ 'WAREHOUSE.EDIT_WAREHOUSE' | translate }}</h4>             
            </div>
    
    
       </section>
        <!-- /Topbar -->


        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div>
                <div class="center-block">
                    <div class="allcp-form theme-info">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                        
                                            <input type="text" name="warehouseCode" autocomplete="off" readonly
                                                formControlName="warehouseCode" #warehouseCode
                                                [ngClass]="{'red-border': myForm.controls['warehouseCode'].invalid}"
                                                class="gui-input floating-input" placeholder="Warehouse Code"
                                                (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur">
                                            <span class="highlight"></span>
                                            <label>{{ 'WAREHOUSE.WAREHOUSE_CODE' | translate }}</label>
                                        
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                        
                                            <input type="text" name="warehouseName" autocomplete="off"
                                                formControlName="warehouseName" #warehouseName
                                                [ngClass]="{'red-border': myForm.controls['warehouseName'].invalid}"
                                                class="gui-input floating-input" placeholder="Warehouse Name"
                                                (keypress)="restrictSpecialChars($event)" spellcheck="false" trim="blur">
                                            <span class="highlight"></span>
                                            <label>{{ 'WAREHOUSE.WAREHOUSE_NAME' | translate }}</label>
                                       
                                    </div>
                                    <div class="col-md-6 mb20 select-forms">
                                        <label>{{ 'WAREHOUSE.COUNTRY' | translate }}</label>
                                       
                                            <select name="countryID" formControlName="countryID" #countryID (change)="countrycode_Change()"
                                                class="gui-input"
                                                [ngClass]="{'red-border': myForm.controls['countryID'].invalid}">
                                                <option value="">Select Country</option>
                                                <option *ngFor="let item of country_list" value="{{item.id}}">{{item.countryName}}</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        
                                    </div>
                                    <div class="col-md-6 mb20 select-forms">
                                        <label>{{ 'WAREHOUSE.COMPANY' | translate }}</label>
                                        
                                            <select name="companyID" formControlName="companyID" #companyID (change)="companycode_Change()"
                                                class="gui-input"
                                                [ngClass]="{'red-border': myForm.controls['companyID'].invalid}">
                                                <option value="">Select Company</option>
                                                <option *ngFor="let item of company_list" value="{{item.id}}">{{item.companyName}}</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        
                                    </div>
                                    <div class="col-md-6 mb20 select-forms">
                                        <label>{{ 'WAREHOUSE.TYPE' | translate }}</label>
                                        
                                            <select name="type" formControlName="type" #type (change)="warehousetypecode()"
                                                class="gui-input"
                                                [ngClass]="{'red-border': myForm.controls['type'].invalid}">
                                                <option value="">Select Warehouse Type</option>   
                                                <option *ngFor="let item of warehousetype_list" value="{{item.id}}">{{item.warehouseTypeName}}</option>                              
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                       
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                        
                                            <input type="text" name="remarks" autocomplete="off"
                                                formControlName="remarks" #remarks
                                                [ngClass]="{'red-border': myForm.controls['remarks'].invalid}"
                                                class="gui-input floating-input" placeholder="Remarks" spellcheck="false" trim="blur">
                                            <span class="highlight"></span>
                                            <label>{{ 'COMMON.REMARKS' | translate }}</label>
                                        
                                    </div>
                                    <div class="col-md-6">
                                       
                                            <div class="section">
                                                <div class="bs-component mt10">

                                                    <div class="round fill mb10">
                                                        <input type="checkbox" checked="" id="active" name="active" #active formControlName="active">
                                                        <label for="active"></label>
                                                        <p class="label-text">{{ 'COMMON.ACTIVE' | translate }}</p>
                                                    </div>
                                                    <div id="source-button" class="btn btn-system btn-xs"
                                                        style="display: none;">&lt; &gt;</div>

                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>
                                   
                                <div class="row default-forms">
                                    
                                   
                                    <!--<div class="col-md-2 mt10">
                                        <button type="clear" class="btn btn-lg btn-primary btn-block common-button"><i
                                                class="fa fa-refresh"></i> Clear</button>

                                    </div>-->
                                    <div class="offset-md-4 col-md-2 mt10">
                                        <button type="submit" (click) = "update_warehouse()" 
                                        [disabled]="myForm.invalid" class="btn btn-lg btn-success btn-block common-button"                                        ><i
                                              class="fa fa-refresh"></i> Update
                                                
                                        </button>
                                    </div>
                                    <div class="col-md-2 mt10">
                                        <button type="submit" (click)="close()" class="btn btn-lg btn-cancel btn-block common-button"><i
                                            class="fa fa-remove"></i> Close</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->

    </section>
</form>