<form [formGroup]="myForm" validate>
    <section id="content_wrapper">
        <!-- Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-icon">
                        <a routerLink="../home">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-link">
                        <a routerLink="../home">{{ 'COMMON.HOME' | translate }}</a>
                    </li>
                    <li class="">
                        <a routerLink="../price-point">{{ 'PRICE_POINT.PRICE_POINT_MASTER' | translate }}</a>
                    </li>
                    <li class="breadcrumb-current-item">{{ 'COMMON.CREATE' | translate }}</li>

                </ol>
            </div>
        </header>

        <section class="grids-search grid-search-row allcp-form">


            <div class="row title-section-row">
                <h4>{{ 'PRICE_POINT.CREATE_PRICE_POINT' | translate }}</h4>             
            </div>
    
    
       </section>
        <!-- /Topbar -->


        <!-- Content -->
        <section id="content" class="animated fadeIn title-bottom-section">
            <div>
                <div class="center-block">
                    <div class="allcp-form theme-info">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                               
                                            <input type="text" name="code" autocomplete="off" formControlName="code"
                                                (keypress)="restrictSpecialChars($event)" maxlength="8"
                                                #code [ngClass]="{'red-border': myForm.controls['code'].invalid}"
                                                class="gui-input floating-input" placeholder="Price Point Code" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'PRICE_POINT.PRICE_POINT_CODE' | translate }}</label>
                                    </div>
                                    <div class="col-md-6 mb20 floating-form floating-label">
                                                                                
                                            <input type="text" name="name" autocomplete="off" formControlName="name"
                                                (keypress)="restrictSpecialChars($event)"
                                                #name [ngClass]="{'red-border': myForm.controls['name'].invalid}"
                                                class="gui-input floating-input" placeholder="Price Point Name" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'PRICE_POINT.PRICE_POINT_NAME' | translate }}</label>
                                    </div>
                                    <div class="col-md-4 mb20 default-forms" style="margin-top: -30px;">
                                        <label>{{ 'PRICE_POINT.BRAND' | translate }}</label>
                                        <ng-multiselect-dropdown [placeholder]="'Select Brand'"
                                            [settings]="brandDropdownSettings" [data]="brand_list"
                                            [(ngModel)]="selectedBrandList" (onSelect)="onSelectBrand($event)"
                                            (onSelectAll)="onSelectAllBrand($event)"
                                            [ngModelOptions]="{standalone: true}">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div class="col-md-4 mb20 select-forms">
                                        <label>{{ 'PRICE_POINT.BASE_CURRENCY' | translate }}</label>
                                       
                                            <select name="baseCurrency" formControlName="baseCurrency" #baseCurrency
                                                class="gui-input" (change)="getRemainingCurrencyList()"
                                                [ngClass]="{'red-border': myForm.controls['baseCurrency'].invalid}">
                                                <option value="">Select Base Currency</option>
                                                <option *ngFor="let item of currencyDropDownList" value="{{item.currencyCode}}">{{item.currencyCode}}</option> 
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                       
                                    </div>
                                    <div class="col-md-4">
                                       
                                            <div class="section">
                                                <div class="bs-component">
                                                    <div class="round fill mt10 mb10">
                                                        <input type="checkbox" checked="" id="active" name="active"
                                                            #active formControlName="active">
                                                        <label for="active"></label>
                                                        <p class="label-text">{{ 'COMMON.ACTIVE' | translate }}</p>
                                                    </div>
                                                    <div id="source-button" class="btn btn-system btn-xs"
                                                        style="display: none;">&lt; &gt;</div>
                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>


                                <div class="row  mb20" style="margin-top: -25px;">
                                
                                    <div class="col-md-4 floating-form floating-label">
                                                                                
                                            <input type="text" min="0" name="rangeFrom" (keypress)="keyPress($event)" autocomplete="off" formControlName="rangeFrom"
                                                #rangeFrom [ngClass]="{'red-border': myForm.controls['rangeFrom'].invalid}"
                                                class="gui-input floating-input" placeholder="Range From" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'PRICE_POINT.RANGE_FROM' | translate }}</label>
                                    </div>
                                    <div class="col-md-4 floating-form floating-label">
                                                                                
                                            <input type="text" name="rangeTo" autocomplete="off" (keypress)="keyPress($event)" formControlName="rangeTo"
                                                #rangeTo [ngClass]="{'red-border': myForm.controls['rangeTo'].invalid}"
                                                class="gui-input floating-input" placeholder="Range To" spellcheck="false" trim="blur">
                                                <span class="highlight"></span>
                                                <label>{{ 'PRICE_POINT.RANGE_TO' | translate }}</label>
                                    </div>                                    
                                    <div class="col-md-2 default-forms">
                                        <button type="button"
                                            class="mt20 btn btn-lg btn-success btn-block common-button" title="Add"
                                            (click)="addPricePointDetails()"
                                            [disabled]="myForm.pristine || myForm.invalid"><i class="fa fa-plus"></i>
                                        </button>
                                    </div>

                                </div>

                                <div class=" mt30 mb20">
                                    <div class="allcp-form theme-info">
                                        <div class="panel">
                                            <div class="panel-body country-table">
                                                <div class="table-responsive" style="height: 300px !important; overflow-y: scroll;">
                                                    <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                                        <thead>
                                                            <tr class="bg-dark">
                                                                <th class=""  style="width: 120px;">{{ 'PRICE_POINT.RANGE_FROM' | translate }}</th>
                                                                <th class=""  style="width: 100px;">{{ 'PRICE_POINT.RANGE_TO' | translate }}</th>
                                                                <th class="" *ngFor = "let cur of currencyList">
                                                                    {{cur.currencyCode}}
                                                                </th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor = "let dat of rangeList;">
                                                                <td style="width: 120px;">{{dat.rangeFrom}}</td>
                                                                <td style="width: 100px;">{{dat.rangeTo}}</td>
                                                                <td *ngFor = "let curr of currencyList">
                                                                    <input type="text" class="table-input" value="0" #eRate (keypress)="keyPress($event)"
                                                                    (change) = "setExchangeRate(dat.rangeFrom,dat.rangeTo, curr.currencyCode, eRate.value)"
                                                                     style="width: 40px;" style="margin-top: 0px;
                                                                     border: 1px solid #00aaff;
                                                                     padding: 10px 10px; text-align: center;">
                                                                </td>
                                                                <td class="default-forms">  
                                                                    <a href="javascript:void(0);" (click)="remove_rang(rangeList)"  class="btn btn-cancel  btn-sm ml10">
                                                                        <i class="fa fa-remove"></i> 
                                                                </a></td>
                                                                
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row default-forms">
                                    
                                    <div class="offset-md-3 col-md-2 mt10">
                                        <button type="button" class="btn btn-lg btn-success btn-block common-button"
                                            [disabled]="myForm.pristine || myForm.invalid"
                                            (click)="addPricePointRecord()"><i class="fa fa-check-circle-o"></i> Save

                                        </button>
                                    </div>
                                    <div class="col-md-2 mt10">
                                        <button type="button" class="btn btn-lg btn-primary btn-block common-button"
                                            (click)="clear_controls()"><i class="fa fa-refresh"></i> Clear</button>

                                    </div>
                                    <div class="col-md-2 mt10">
                                        <button type="button" class="btn btn-lg btn-cancel btn-block common-button"
                                            (click)="close()"><i class="fa fa-remove"></i> Close</button>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->

    </section>
</form>